

.listContainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  color: white;
  font-size: 1.2rem;

}

.listWrapper {
  width: 100%;
  max-width: 1024px;
  display: grid;
  grid-template-columns:25% 1fr;
  gap: 1.2rem;
  color: white;


}

.listSearch {
  flex: 1;
  background-color: var(--clr-theme);
  border-radius: 0.5rem;
  position: sticky;
  top: 0.625rem;
  height: max-content;
  padding: 1rem;
  color: white;
}

.lsTitle {
  font-size: 1.2rem;
  color: white;
  margin-bottom: 0.625rem;
}

.lsItem {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-bottom: 0.625rem;
}

.lsItem > label {
  font-size: 0.9em;
  font-weight: 600;
}

.lsItem > input {
  height: 1.8rem;
  border: none;
  padding: 0.3rem;
}
.lsItem > span {
  height: 1.8rem;
  padding: 0.3rem 0.5rem;
  border-radius: 3px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  background-color: rgba(236, 236, 236, 0.302);

}

.lsOptions {
  padding: 0.625rem;
  color:#fff;

}

.lsOptionItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #100720;
  font-size: 0.75rem;
  color:#fff;
  font-size: 0.9em;


}

.lsOptionInput {
  width: 3.125rem;
}

.listSearch > button {
  padding: 0.6rem;
  background-color:white;
  color: var(--clr-theme);
  border: none;
  width: 100%;
  font-weight: 500;
  cursor: pointer;
  border-radius: 7px;
}

.listResult {
  flex: 3;
}

@media only screen and (max-width: 992px) {
  .listContainer {
    width: 100%;
    
  }
  .listWrapper {
    gap: 1.2rem;
    width: 100%;
    grid-template-columns: 1fr;
    justify-content: center;
    
  }
  .listSearch {
    position: static;
    top: 0.625rem;
    height: max-content;
    width: 90%;
    justify-content: center;
    margin-inline: auto;
    
  }
  .listResult{
    width: 100%;
    display: grid;
    place-items: center;
  }
  /* .searchItem > img {
    display: block;
    max-width: 100%;
    
    width: 70%;
    
    aspect-ratio: 3/2;
 object-fit: cover; 
 margin-inline: auto;
 
} */
}

/* @media only screen and (max-width: 1024px) and (min-width: 992px) {
  .listContainer {
    width: 90%;
  }
} */
