.footer {
  width: 100%;
  font-size: 1rem;
  margin-top: 2rem;
  max-width: 1024px;
}

.fLists {
  width: 100%;
  display: flex;
align-items: center;
  justify-content: space-around;
  margin-bottom: 2rem;
 
  
}

.fList {
  list-style: none;
  padding: 0;
}

.fListItem {
  margin-bottom: 0.8rem;
  color: var(--clr-link);
  cursor: pointer;
}
.fText {
  background-color: var(--clr-theme);
  color: white;
  display: flex;
  padding: 0.5rem;
  justify-content: center;
  font-size: 0.7rem;
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .footer {
    font-size: 0.7rem;
    width: 100%;
  }
}
