.footer {
  width: 100%;
  font-size: 1rem;
}

.fLists {
  width: 100%;
  display: flex;

  justify-content: space-around;
  margin-bottom: 3rem;
}

.fList {
  list-style: none;
  padding: 0;
}

.fListItem {
  margin-bottom: 0.8rem;
  color: var(--clr-link);
  cursor: pointer;
}
.fText {
  background-color: var(--clr-bg-dark-red);
  color: white;
  display: flex;
  padding: 0.5rem;
  justify-content: center;
  font-size: 0.7rem;
}

@media only screen and (max-width: 992px) {
  .footer {
    font-size: 0.7rem;
    width: 100%;
  }
}
