.header {
  background-color: var(--white);
  display: flex;
  justify-content: center;
}

.headerContainer {
  width: 90%;
  margin: 1.5rem;
}

/* .headerContainer.listMode {
  margin: 1.5rem 0 0 0;
} */

.headerList {
  display: flex;
  gap: 2.5rem;
  margin-bottom: 3rem;
}

.headerListItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.125rem;
  padding: 0.5rem 1rem;
  border: 2px solid var(--blue);
  border-radius: 1rem;
}

.headerListItem:hover {
  color: var(--white);
  background-color: var(--blue);
  cursor: pointer;
}

/* header Description  */

.headerDesc {
  margin: 1rem 0rem;
}
.headerTitle {
  font-size: 2.5rem;
}

.headerBtn {
  background-color: var(--blue);
  color: var(--white);
  font-weight: 500;
  border: none;
  padding: 0.6rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.headerIcon {
  color: var(--blue);
  padding: 0.5rem;
}

.headerSearch {
  height: 4rem;
  background-color: #fff;
  border: 2px solid var(--blue);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  border-radius: 1rem;
  margin-top: 2rem;
  width: 100%;
  font-size: 1rem;
  padding-right: 0.2rem;
  position: relative;
}

@media only screen and (min-width: 992px) {
  #destination {
    display: none;
  }
}

.headerSearchItems {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.headerText {
  font-size: 0.9rem;
  color: var(--blue);
  width: 100%;
}
.headerSearchInput {
  border: none;
  outline: none;
}
.headerSearchInput {
  border: 0.1rem solid var(--blue);
  border-radius: 0.5rem;
  outline: none;
  color: var(--blue);
  width: 9.5rem;
}

.headerSearchText {
  color: rgb(18, 1, 204);
  text-decoration: underline;
  cursor: pointer;
  font-size: 0.9rem;
  border-radius: 0.5rem;
  width: 100%;
  background-color: var(--white);
}

.headerSearchBtn {
  background-color: var(--blue);
  color: var(--white);
  font-weight: 500;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  width: 100%;
  font-size: 0.9rem;
}

.date {
  position: absolute;
  top: 3.5rem;
  z-index: 3;
  border: 0.1rem solid #002a66;
}

/* styling for options of adult ,children & room */
.options {
  z-index: 2;
  position: absolute;
  top: 4rem;
  right: 6rem;
  background-color: #fff;
  color: gray;
  border: 0.1rem solid #002a66;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  padding: 0.3rem;
  color: var(--blue);
}
.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid #0071c2;
  color: #0071c2;
  cursor: pointer;
  background-color: white;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
}

@media only screen and (max-width: 992px) {
  .headerList {
    gap: 1.5rem;
  }
  .headerListItem {
    gap: 0.5rem;
    font-size: 1rem;
    padding: 0.25rem 0.75rem;
  }
  .headerTitle {
    font-size: 1.5rem;
  }

  .headerSearch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 25rem;
    max-width: 100%;
  }

  .headerSearchItems:nth-child(n) {
    border-bottom: 2px solid #000;
    padding-bottom: 1rem;
    /* line-break: after; */
  }
  .headerSearchItems {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .headerText {
    color: var(--blue);
    width: 100%;
    text-align: center;
  }
  /* date for mobile view */
  .date {
    max-width: 99%;
    top: 13rem;
  }

  /* .rdrMonthAndYearWrapper {
   
  } */
  .rdrMonthAndYearPickers {
    overflow: scroll;
  }

  .rdrNextPrevButton {
    margin: 0 !important;
  }
  .rdrDateDisplayItem input {
    max-width: 99%;
    border: 2px solid var(--blue);
  }
  .rdrDateDisplay {
    max-width: 99%;
  }
  .rdrMonth {
    max-width: 95%;
  }

  /* change posistion of option box of adult, children and room  */
  .options {
    top: 21rem;
  }
}
