.header {
  display: flex;
  justify-content: center;
}

.headerContainer {
  width: 90%;
  margin: 1.5rem;
  max-width: 1024px;
}

.headerContainer.listMode {
  margin: 1.5rem 0 0 0;
}

.headerList {
  display: flex;
  gap: 2.5rem;
  margin-bottom: 2rem;
}

.headerListItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.125rem;
  padding: 0.2rem 0.3rem;
  border: 1px solid var(--clr-bg-dark-red);
  border-radius: 8px;cursor: pointer;
  color: var(--clr-white);
  background-color: var(--clr-theme);


}

.headerListItem:hover {
  color: var(--clr-bg-dark-red);
  background-color: var(--clr-white);

  
}

/* header Description  */

.headerDesc {
  margin: 1rem 0rem;
}
.headerTitle {
  font-size: 2.5rem;
}

.headerBtn {
  background-color: var(--clr-theme);
  color: var(--clr-white);
  font-weight: 500;
  border: none;
  padding: 0.5rem;
  border-radius: 15px;
  cursor: pointer;
  border: 1px solid var(--clr-theme);

}
.headerBtn:hover {
  color: var(--clr-theme);
  background-color: var(--clr-white);

}

.headerIcon {
  color: var(--clr-theme);
  padding: 0.5rem;
}

.headerSearch {
  
  height: 4rem;
  background-color: var(--clr-light-white);
  border: 1px solid var(--clr-theme);
box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  border-radius: 8px;
  margin-top: 2rem;
  width: 100%;
  font-size: 1rem;
  position: relative;
  
}



.headerSearchItems {
  display: flex;
  
  align-items: center;
  justify-content: space-around;
}
.headerText {
  font-size: 1em;
  color: var(--clr-black);
  width: 100%;
}
.headerSearchInput {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  outline: none;
}
.headerSearchInput {
  border: 1px solid var(--clr-theme);
  border-radius: 8px;
  outline: none;
  color: var(--clr-theme);
  width: 9.5rem;
}

.headerSearchText {
  cursor: pointer;
  font-size: 1em;
  width: 100%;
  color: var(--clr-text-dark-red);

  text-align: center;
}


.headerSearchBtn {
  background-color: var(--clr-theme);
  color: var(--clr-white);
  font-weight: 500;
  border: none;
  border-radius: 8px;
  padding: 0.3rem;
  cursor: pointer;
  width: 100%;
  font-size: 0.9rem;
  border: 1px solid var(--clr-theme);
margin: 0 0.3rem;
 
}
.headerSearchBtn:hover {
 color: var(--clr-theme);
  background-color: var(--clr-white);
}

.date {
  position: absolute;
  top: 3.5rem;
  z-index: 3;
 box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 0.5rem;

  
}
.rdrDateDisplayWrapper{
  border-radius: 0.5rem;
}

/* styling for options of adult ,children & room */
.options {
  z-index: 2;
  position: absolute;
  top: 4rem;
  right: 7rem;
  background-color: #fff;
  color: gray;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 0.5rem;
  padding: 0.3rem;
  color: var(--clr-theme);
}
.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid #0071c2;
  color: #0071c2;
  cursor: pointer;
  background-color: white;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
}

@media only screen and (min-width: 992px) {
  .headerSearchItems {
  flex: 1;
    border-right: 1px solid var(--clr-theme) ;
height: 100%;
padding-right: 0.5rem;
  }
  .headerText{
    width: 65%;
  }
  
  #destination{
    width:35%;
  }
  .headerIcon{
    font-size: 1.2em;
  }
}



@media only screen and (max-width: 992px) {
  .headerList {
    gap: 1.5rem;
    margin-bottom: 0.2rem;
  }
  .headerListItem {
    gap: 0.5rem;
    font-size: 1rem;
    padding: 0.25rem 0.75rem;
  }
  .headerTitle {
    font-size: 1.5rem;
  }

  .headerSearch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 25rem;
    width: 100%;
    
    
  }

   
  .headerSearchItems {
    display: flex;
    flex-direction: column;
    text-align: center;
    width:100%;
  border-bottom: 1px solid var(--clr-theme);
    padding-bottom: 1rem;
  

  }

  .headerText {
    width: 100%;
    text-align: center;
    font-size: 1.2em;
  }
  .headerSearchText{
    font-size: 1.1em;
  }
  .headerIcon{
    font-size: 1.2em;
  }
  .headerSearchBtn {
    display: flex;
 margin-bottom: 0.3rem;
 justify-content: center;
  padding: 0.3rem 0.4rem;
  cursor: pointer;
  font-size: 1.2rem;
}
  /* date for mobile view */
  .date {
    max-width: 99%;
    top: 13rem;
  }

  /* .rdrMonthAndYearWrapper {
   
  } */
  .rdrMonthAndYearPickers {
    overflow: scroll;
  }

  .rdrNextPrevButton {
    margin: 0 !important;
  }
  .rdrDateDisplayItem input {
    max-width: 99%;
    border: 1px solid var(--clr-theme);
  }
  .rdrDateDisplay {
    max-width: 99%;
  }
  .rdrMonth {
    max-width: 95%;
  }

  /* change posistion of option box of adult, children and room  */
  .options {
    top: 21rem;
    right: 9rem;
  }
}
