.searchItem {
  padding: 0.625rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1.25rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color:var(--clr-white) ;
  
}

.siImg {
  width: 13rem;
  height: 13rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.siDesc {
  display: flex;
  flex-direction: column;
  line-height: 2;
  flex: 2;
  font-weight: 400;
  color: var(--clr-black);
  font-size: 1em;
}

.siTitle {
  font-size: 1.25em;
  color: var(--clr-black);
  font-weight: 500;
}

.siDistance {
  font-size: 0.625em;
}

.siTaxiOp {
  font-size: 0.625em;
  background-color: var(--clr-bg-dark-red);
  color: var(--clr-white);
  width: max-content;
  padding: 3px;
  border-radius: 5px;
}

.siSubtitle {
  font-size: 0.75em;
  font-weight: 600;
  color: var(--clr-black);
}

.siFeatures {
  font-size: 0.75em;
}

.siCancelOp {
  font-size: 0.75em;
  color: var(--clr-bg-dark-red);
  font-weight: 700;
  letter-spacing: 0.5px;
}

.siCancelOpSubtitle {
  font-size:0.6em;
  color: var(--clr-text-dark-red);
  
}

.siDetails {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.siRating {
  display: flex;
  justify-content: space-between;
}

.siRating > span {
  font-weight: 500;
}
.siRating > button {
  background-color: var(--clr-theme);
  color: var(--clr-light-white);
  padding: 5px;
  font-weight: bold;
  border: none;
  border-radius: 50%;
}

.siDetailTexts {
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.siPrice {
  font-size: 1.25em;
  color: var(--clr-light-grey);
}

.siTaxOp {
  font-size: 0.625em;
  color: var(--clr-light-grey);
}

.siCheckButton {
  background-color: var(--clr-theme);
  color: var(--clr-white);
  padding: 10px 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

@media only screen and (max-width: 992px) {
  .searchItem {
    flex-direction: column;
    width: 90%;
  }
  .siImg {
    height: 15rem;
    width: 100%;
    object-fit: cover;
  }
}
