.searchItem {
  padding: 0.625rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.siImg {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.siDesc {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 2;
  color: rgb(42, 42, 42);
}

.siTitle {
  font-size: 20px;
  color: var(--clr-hglts);
}

.siDistance {
  font-size: 12px;
}

.siTaxiOp {
  font-size: 12px;
  background-color:var(--clr-theme);
  color: white;
  width: max-content;
  padding: 3px;
  border-radius: 5px;
}

.siSubtitle {
  font-size: 12px;
  font-weight: bold;
}

.siFeatures {
  font-size: 12px;
}

.siCancelOp {
  font-size: 12px;
  color: #008009;
  font-weight: bold;
}

.siCancelOpSubtitle {
  font-size: 12px;
  color: #008009;
}

.siDetails {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.siRating {
  display: flex;
  justify-content: space-between;
}

.siRating > span {
  font-weight: 500;
}
.siRating > button {
  background-color: #d2164e;
  color:#fff;
  padding: 5px;
  font-weight: bold;
  border: none;
  border-radius: 50%;
}

.siDetailTexts {
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.siPrice {
  font-size: 24px;
}

.siTaxOp {
  font-size: 12px;
  color: gray;
}

.siCheckButton {
  background-color:var(--clr-hglts);
  color: #fff;
  padding: 10px 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

@media only screen and (max-width: 992px) {
  .searchItem {
    flex-direction: column;
    width: 90%;
  }
  .siImg {
    height: 15rem;
    width: 100%;
    object-fit: cover;
  }
}
