.navbar {
  height: 3.5rem;
background-color: #fff7f6;

  

font-size:1.2rem;
  color: var(--clr-theme);
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 70%;
  max-width: 1024px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 500;
}
.navItems {
  display: flex;
  justify-content: space-around;
  align-items: center;
 
 
}

.navButton {
  margin-left: 0.5rem;
  border: none;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  background-color: var(--clr-theme);
  color: var(--clr-white);
  border-radius: 15px;
  box-shadow: rgba(45, 35, 66, 0.4);
  transition: all 100ms cubic-bezier(0.23, 1, 0.32, 1);
  font-size: 0.75em;
  border: 1px solid var(--clr-theme);

}

.navButton:disabled {
  pointer-events: none;
}

.navButton:hover {
  color: var(--clr-theme);
  background-color: var(--clr-white);

}

.navButton:active {
  box-shadow: none;
}

@media only screen and (max-width: 300px) {
  

.navItems{
   flex-direction: column;
   margin-left: 0.2rem;
}
}
@media only screen and (max-width: 768px) {
  


}